
/Technical-Tests-Backend-Ssr/bin/
/Technical-Tests-Backend-Ssr/obj/

/Technical-Tests-Backend-Ssr/.vs/
/Technical-Tests-Backend-Ssr/.vscode/
/Technical-Tests-Backend-Ssr/.idea/
/Technical-Tests-Frontend-Ssr/.vs/
/Technical-Tests-Frontend-Ssr/.vscode/
/Technical-Tests-Frontend-Ssr/.idea/

/Technical-Tests-Backend-Ssr/packages/
/Technical-Tests-Frontend-Ssr/node_modules/
/Technical-Tests-Frontend-Ssr/dist/

/Technical-Tests-Backend-Ssr/*.db
/Technical-Tests-Backend-Ssr/*.mdf
/Technical-Tests-Backend-Ssr/*.ldf

/Technical-Tests-Backend-Ssr/appsettings.Development.json
/Technical-Tests-Backend-Ssr/appsettings.Local.json

/Technical-Tests-Backend-Ssr/*.log
/Technical-Tests-Frontend-Ssr/*.log
/Technical-Tests-Backend-Ssr/*.tmp
/Technical-Tests-Frontend-Ssr/*.tmp

/Technical-Tests-Frontend-Ssr/

/Technical-Tests-Frontend-Ssr/.angular/
/Technical-Tests-Frontend-Ssr/node_modules/
/Technical-Tests-Frontend-Ssr/dist/

/Technical-Tests-Backend-Ssr/bazel-out
/Technical-Tests-Backend-Ssr/integration/bazel/bazel-*
/Technical-Tests-Frontend-Ssr/bazel-out
/Technical-Tests-Frontend-Ssr/integration/bazel/bazel-*
.bazelrc.user

/Technical-Tests-Frontend-Ssr/.ng-dev.user*

/Technical-Tests-Frontend-Ssr/.husky/_

.DS_STORE
/Technical-Tests-Backend-Ssr/*.swo
/Technical-Tests-Backend-Ssr/*.swp
/Technical-Tests-Frontend-Ssr/*.swo
/Technical-Tests-Frontend-Ssr/*.swp
/Technical-Tests-Backend-Ssr/.notes.md
/Technical-Tests-Frontend-Ssr/.notes.md
/Technical-Tests-Backend-Ssr/baseline.json
/Technical-Tests-Frontend-Ssr/baseline.json
/Technical-Tests-Backend-Ssr/.history
/Technical-Tests-Frontend-Ssr/.history