.login-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.p-input-icon-left {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    gap: 5px;
}

.p-button {
    height: 35px;
    border-radius: 5px;
}