.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.login {
    display: flex;
    align-items: center;
    gap: 15px;
}

.client-info {
    color: white;
    font-size: 16px;
}
.p-button {
    height: 35px;
    border-radius: 5px;
}
.login-form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.p-inputtext {
    margin-right: 10px;
}